/* import weird serif font: Basteleur */
@font-face {
  font-family: "Basteleur";
  src: url("./Basteleur-Bold.woff"), url("./Basteleur-Bold.woff2");
  font-weight: normal;
  font-style: normal;
}

/* import sans-serif font: Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* import monospace font: Plex Mono */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

body {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  padding-left: 1em;
}

main {
  padding-left: 2em;
  margin: 0 auto;
  width: 50%;
  min-height: 100vh;
  padding-bottom: 2em;
}

footer {
  width: auto;
  height: 2em;
  position: relative;
  background-color: #eee;
  margin-top: -2em;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 2em;
  clear: both;
}

article div {
  width: 50rem;
}
a {
  text-decoration: none;
  color: #0000ee;
}

h1 {
  font-family: 'Basteleur', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 30pt;
  color: #000;
  margin-bottom: 3rem;
}

h2 {
  font-family: 'Basteleur', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15pt;
  color: #000;
}

li {
  padding-left: 0;
  margin-bottom: 0.5em;
} 

ul li {
  list-style-type: "☞ ";
}

p, ul, ol {
  line-height: 1.5em;
  font-size: 14pt;
}

ul, ol {
  padding-left: 1.5rem;
}

ol {
  margin: 0;
  padding-left: 1em;
}

figure {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

figcaption{
  margin-top: 5pt;
  font-size: 10pt;
  font-style: italic;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: help;
}

#title {
  vertical-align: baseline;
  float: left;  
}

#chat {
  display: flex;
  vertical-align: baseline;
  float: right;
  margin-top: 2rem;
  margin-right: 2rem;
}

hr {
  color: #000 solid;
}

@media (max-width: 1000px) {
  body {
    padding: 0 10px;
  }

  h1 {
    font-size: 50pt;
    padding: 0;
  }

  input {
    margin: 0;
    padding: 5pt 0pt;
    max-width: 100%;
  }

  header {
    margin: 0;
    padding: 0;
  }

  main {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  footer {
    height: 100%;
    margin: 0 -10px;
    margin-top: 2em;
  }


  footer p {
    margin: 0 ;
    padding: 1em 0 0 0;
  }

  article div {
    width: 100%;
    margin: 0;
  }
}